<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>

<body>
    <h2>All Clients</h2>
    <table border="1">
        <tr>
            <th>Client Id</th>
            <th>Client Name</th>
            <th>Client Surname</th>
            <th>Client Email</th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.clientId}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.surename}"></td>
            <td th:text="${client.email}"></td>
        </tr>
    </table>
</body>
</html>
